# **KNOWING THE DATA**

---

In [5]:
import pandas as pd
train= pd.read_csv("/content/train.csv")
test=pd.read_csv("/content/test.csv")

In [6]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [9]:
print("Survival Rate by Sex:")
print(train.groupby('Sex')['Survived'].mean())


print("\nSurvival Rate by Pclass:")
train.groupby('Pclass')['Survived'].mean()

Survival Rate by Sex:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival Rate by Pclass:

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

# FILLING MISSING DATA FROM CLASS MEDIAN

In [10]:
lass=train.groupby('Pclass')['Age'].median()
print(lass)

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [11]:
def fill(cols):
  age=cols[0]
  pclass=cols[1]
  if pd.isnull(age):
    return lass[pclass]
  else:
    return age
train["Age"]=train[["Age","Pclass"]].apply(fill,axis=1)

/tmp/ipython-input-4132787100.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  age=cols[0]
/tmp/ipython-input-4132787100.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pclass=cols[1]

#  **CLEANING THE DATA **AND FILLING OTHER MISSING VALUES (MODEBASED)

In [12]:
cols=["PassengerId","Name","Ticket","Cabin"]
train_clean=train.drop(cols,axis=1)
train_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [13]:

train_clean['Embarked']=train_clean['Embarked'].fillna(train_clean['Embarked'].mode()[0])
train_clean.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

# ENCODING

In [14]:
train_clean["Sex"]=train_clean["Sex"].map({'female':0, 'male':1})
train_clean["Embarked"]=train_clean["Embarked"].map({'S':0,'C':1,'Q':2})

In [15]:
train_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         0
1         1       1    0  38.0      1      0  71.2833         1
2         1       3    0  26.0      0      0   7.9250         0
3         1       1    0  35.0      1      0  53.1000         0
4         0       3    1  35.0      0      0   8.0500         0

# Test data alignment

In [16]:
test.info()
test.head()
test.describe()
test.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

***cleaning , filling values and encoding***

In [17]:
cols=["PassengerId","Name","Ticket","Cabin"]
test_clean= test.drop(cols,axis=1)
test_clean["Age"] = test[["Age", "Pclass"]].apply(fill, axis=1)
test_clean["Fare"] = test["Fare"].fillna(test["Fare"].median())
test_clean["Sex"]=test_clean["Sex"].map({'female':0, 'male':1})
test_clean["Embarked"]=test_clean["Embarked"].map({'S':0,'C':1,'Q':2})
print(test_clean.head())
test_clean.isnull().sum()

/tmp/ipython-input-4132787100.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  age=cols[0]
/tmp/ipython-input-4132787100.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pclass=cols[1]

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         2
1       3    0  47.0      1      0   7.0000         0
2       2    1  62.0      0      0   9.6875         2
3       3    1  27.0      0      0   8.6625         0
4       3    0  22.0      1      1  12.2875         0

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

# **BASIC MODELs**

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:

features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
X = train_clean[features]
y = train_clean["Survived"]
X_test_final = test_clean[features]


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)


val_predictions = model.predict(X_val)
print(f"Practice  Accuracy: {accuracy_score(y_val, val_predictions):.2%}")

Practice  Accuracy: 80.45%

In [21]:
from sklearn.ensemble import GradientBoostingClassifier
gb_model = GradientBoostingClassifier(n_estimators=200, learning_rate=0.05, max_depth=4, random_state=42)
gb_model.fit(X_train, y_train)

gb_predictions = gb_model.predict(X_val)
print(f"Gradient Boosting Accuracy: {accuracy_score(y_val, gb_predictions):.2%}")

Gradient Boosting Accuracy: 82.68%

# **Fine tuning of randomforest**

In [26]:
from sklearn.model_selection import GridSearchCV
param_grid_rf= {
    'n_estimators':[100,200,300,500] ,
    'max_depth':[6,9,11,None],
    'min_samples_split':[4,7,10],
    'max_features': ['sqrt', 'log2']

    }

rf= RandomForestClassifier(random_state=2026)
grid_search_rf=GridSearchCV(estimator=rf,param_grid=param_grid_rf,cv=5,n_jobs =-1,verbose=1)
grid_search_rf.fit(X_train,y_train)
print(f"Best RF Parameters: {grid_search_rf.best_params_}")
print(f"Best RF Accuracy: {grid_search_rf.best_score_:.2%}")

Fitting 5 folds for each of 96 candidates, totalling 480 fits
Best RF Parameters: {'max_depth': 11, 'max_features': 'sqrt', 'min_samples_split': 4, 'n_estimators': 100}
Best RF Accuracy: 82.72%

# **Fine tuning of GRadient boost**

In [24]:
param_grid_gb = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01,0.025, 0.05, 0.07],
    'max_depth': [3, 5 ,6],
    'subsample': [0.6, 0.7, 0.8, 0.9, 1.0],
    'max_features': ['sqrt', 'log2']
}
gb = GradientBoostingClassifier(random_state=2026)
grid_search_gb = GridSearchCV(estimator=gb, param_grid=param_grid_gb, cv=5, n_jobs=-1, verbose=1)

grid_search_gb.fit(X_train, y_train)

print(f"Best GB Parameters: {grid_search_gb.best_params_}")
print(f"Best GB Accuracy: {grid_search_gb.best_score_:.2%}")

best_gb_model = grid_search_gb.best_estimator_

Fitting 5 folds for each of 360 candidates, totalling 1800 fits
Best GB Parameters: {'learning_rate': 0.07, 'max_depth': 3, 'max_features': 'sqrt', 'n_estimators': 100, 'subsample': 1.0}
Best GB Accuracy: 83.85%

# FEATURE TUNING

In [28]:
importances = grid_search_gb.best_estimator_.feature_importances_
feauture=["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
feature_importances = pd.DataFrame({'Feature': feauture, 'Importance': importances})

feature_importances = feature_importances.sort_values(by ='Importance', ascending=True)
print(feature_importances)

    Feature  Importance
6  Embarked    0.029045
4     Parch    0.029846
3     SibSp    0.042300
2       Age    0.126352
5      Fare    0.134840
0    Pclass    0.150885
1       Sex    0.486732

In [31]:
train_ext = train_clean.copy()
train_ext['IsBoy'] = ((train_ext['Age'] < 14) & (train_ext['Sex'] == 1)).astype(int)
train_ext['FamilySize'] = train_ext['SibSp'] + train_ext['Parch'] + 1
train_ext['IsAlone'] = (train_ext['FamilySize'] == 1).astype(int)
new_features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "IsBoy", "FamilySize", "IsAlone"]
X_ext = train_ext[new_features]
y = train_ext["Survived"]

In [32]:
param_grid_gb = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01,0.025, 0.05, 0.07],
    'max_depth': [3, 5 ,6],
    'subsample': [0.6, 0.7, 0.8, 0.9, 1.0],
    'max_features': ['sqrt', 'log2']
}
gb_ext = GradientBoostingClassifier(random_state=2026)
grid_search_ext = GridSearchCV(estimator=gb_ext, param_grid=param_grid_gb, cv=5, n_jobs=-1, verbose=1)
grid_search_ext.fit(X_ext, y)

Fitting 5 folds for each of 360 candidates, totalling 1800 fits
New Best Accuracy with Engineered Features: 83.73%

In [33]:
test_ext = test_clean.copy()
test_ext['IsBoy'] = ((test_ext['Age'] < 14) & (test_ext['Sex'] == 1)).astype(int)
test_ext['FamilySize'] = test_ext['SibSp'] + test_ext['Parch'] + 1
test_ext['IsAlone'] = (test_ext['FamilySize'] == 1).astype(int)

X_test_final = test_ext[new_features]

final_model = grid_search_ext.best_estimator_
predictions = final_model.predict(X_test_final)

submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived": predictions
})
submission.to_csv("titanic_engineered_gb.csv", index=False)