# **KNOWING YOUR DATA**

In [2]:
import pandas as pd
data = pd.read_csv("/content/netflix_titles.csv")

In [3]:
data.shape

(8807, 12)

In [4]:
list1=['TV-Y', 'TV-G', 'G', 'TV-Y7', 'TV-Y7-FV', 'PG', 'TV-PG']
l=[]
for i in list1:
  l.append(i.lower())

print(l)

['tv-y', 'tv-g', 'g', 'tv-y7', 'tv-y7-fv', 'pg', 'tv-pg']

In [5]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

# **CLEANING**

In [9]:
broken_rows = data['duration'].isnull()
data.loc[broken_rows, 'duration'] = data.loc[broken_rows, 'rating']
data.loc[broken_rows, 'rating'] = 'Unknown'
data['director']=data['director'].fillna('Unknown')
data['cast']=data['cast'].fillna('Unknown')
data['country']=data['country'].fillna('Unknown')
data['date_added']=data['date_added'].fillna('Unknown')
data['rating']=data['rating'].fillna('Unknown')
data.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [10]:
all_genres = data['listed_in'].str.split(', ').explode()
print(all_genres.value_counts().head(5))
print(data['release_year'].value_counts().head(5))
country_mix = data.groupby(['country', 'type']).size().unstack(fill_value=0)
top = country_mix.sum(axis=1).sort_values(ascending=False).head(15)
top_5_distribution = country_mix.loc[top.index]
print(top_5_distribution)

listed_in
International Movies      2752
Dramas                    2427
Comedies                  1674
International TV Shows    1351
Documentaries              869
Name: count, dtype: int64
release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
Name: count, dtype: int64
type            Movie  TV Show
country
United States    2058      760
India             893       79
Unknown           440      391
United Kingdom    206      213
Japan              76      169
South Korea        41      158
Canada            122       59
Spain              97       48
France             75       49
Mexico             70       40
Egypt              92       14
Turkey             76       29
Nigeria            86        9
Australia          39       48
Taiwan             13       68

In [11]:
def clean_data(x):
    return str.lower(x.replace(" ", ""))
data['director'] = data['director'].apply(clean_data)
data['cast'] = data['cast'].apply(clean_data)
data['country'] = data['country'].apply(clean_data)
data['listed_in'] = data['listed_in'].apply(clean_data)
data['description'] = data['description'].apply(clean_data)
data['type'] = data['type'].apply(clean_data)
data['rating'] = data['rating'].apply(clean_data)
data['duration']=data['duration'].apply(clean_data)

data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,movie,Dick Johnson Is Dead,kirstenjohnson,unknown,unitedstates,"September 25, 2021",2020,pg-13,90min,documentaries,"asherfathernearstheendofhislife,filmmakerkirst..."
1,s2,tvshow,Blood & Water,unknown,"amaqamata,khosingema,gailmabalane,thabangmolab...",southafrica,"September 24, 2021",2021,tv-ma,2seasons,"internationaltvshows,tvdramas,tvmysteries","aftercrossingpathsataparty,acapetownteensetsou..."
2,s3,tvshow,Ganglands,julienleclercq,"samibouajila,tracygotoas,samueljouy,nabihaakka...",unknown,"September 24, 2021",2021,tv-ma,1season,"crimetvshows,internationaltvshows,tvaction&adv...","toprotecthisfamilyfromapowerfuldruglord,skille..."
3,s4,tvshow,Jailbirds New Orleans,unknown,unknown,unknown,"September 24, 2021",2021,tv-ma,1season,"docuseries,realitytv","feuds,flirtationsandtoilettalkgodownamongthein..."
4,s5,tvshow,Kota Factory,unknown,"mayurmore,jitendrakumar,ranjanraj,alamkhan,ahs...",india,"September 24, 2021",2021,tv-ma,2seasons,"internationaltvshows,romantictvshows,tvcomedies",inacityofcoachingcentersknowntotrainindia’sfin...

# **MODELLING**

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def weight(x):
  director = (str(x['director']) + ' ') * 9
  actors = (str(x['cast']) + ' ') * 8
  genres = (str(x['listed_in']) + ' ') * 8
  country = (str(x['country']) + ' ') * 9
  description = (str(x['description']) + ' ') * 6
  show = (str(x['type']) + ' ') * 3
  rate = (str(x['rating']) + ' ') * 5
  time = str(x['duration'])



  return director + actors + genres + country + description + show+ rate +time

data['weight'] = data.apply(weight, axis=1)
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['weight'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [13]:
def check_my_custom_model(movie_title):
    if movie_title not in data['title'].values:
        print(f" Error: '{movie_title}' not found.")
        return

    idx = data[data['title'] == movie_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_matches = sim_scores[1:6]

    print(f"--- TESTING WEIGHTS FOR: '{movie_title}' ---")
    print(f"Original Country: {data.loc[idx, 'country']}")
    print(f"Original Director: {data.loc[idx, 'director']}")
    print("-" * 50)

    for i, score in top_matches:
        match_title = data['title'].iloc[i]
        match_country = data['country'].iloc[i]
        match_director = data['director'].iloc[i]


        print(f"Match: {match_title}")
        print(f"   Score: {round(score, 3)}")
        print("-" * 50)

check_my_custom_model("Mha")
check_my_custom_model('Jeans')
check_my_custom_model("Zubaan")
check_my_custom_model('Kota Factory')
check_my_custom_model('Jaws')

 Error: 'Mha' not found.
--- TESTING WEIGHTS FOR: 'Jeans' ---
Original Country: india
Original Director: s.shankar
--------------------------------------------------
Match: Music Teacher
   Score: 0.179
--------------------------------------------------
Match: Maniyarayile Ashokan
   Score: 0.166
--------------------------------------------------
Match: Shabd
   Score: 0.162
--------------------------------------------------
Match: Kyun! Ho Gaya Na
   Score: 0.146
--------------------------------------------------
Match: Taal
   Score: 0.121
--------------------------------------------------
--- TESTING WEIGHTS FOR: 'Zubaan' ---
Original Country: india
Original Director: mozezsingh
--------------------------------------------------
Match: Game
   Score: 0.167
--------------------------------------------------
Match: Kyaa Super Kool Hain Hum
   Score: 0.159
--------------------------------------------------
Match: Angry Indian Goddesses
   Score: 0.141
--------------------------------------------------
Match: Powder
   Score: 0.104
--------------------------------------------------
Match: Sanju
   Score: 0.104
--------------------------------------------------
--- TESTING WEIGHTS FOR: 'Kota Factory' ---
Original Country: india
Original Director: unknown
--------------------------------------------------
Match: Chaman Bahaar
   Score: 0.194
--------------------------------------------------
Match: Girls Hostel
   Score: 0.15
--------------------------------------------------
Match: Yeh Meri Family
   Score: 0.145
--------------------------------------------------
Match: Find Yourself
   Score: 0.137
--------------------------------------------------
Match: Melodies of Life - Born This Way
   Score: 0.137
--------------------------------------------------
--- TESTING WEIGHTS FOR: 'Jaws' ---
Original Country: unitedstates
Original Director: stevenspielberg
--------------------------------------------------
Match: Jaws 2
   Score: 0.299
--------------------------------------------------
Match: Indiana Jones and the Temple of Doom
   Score: 0.119
--------------------------------------------------
Match: Indiana Jones and the Raiders of the Lost Ark
   Score: 0.118
--------------------------------------------------
Match: Indiana Jones and the Last Crusade
   Score: 0.116
--------------------------------------------------
Match: Indiana Jones and the Kingdom of the Crystal Skull
   Score: 0.105
--------------------------------------------------

# **IMPROVSING THE MODELS**

**IMPORTING MODULES**

In [14]:
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

**Loading data**

In [15]:
data = pd.read_csv("/content/netflix_titles.csv")
broken_rows = data['duration'].isnull()
data.loc[broken_rows, 'duration'] = data.loc[broken_rows, 'rating']
data.loc[broken_rows, 'rating'] = ''
data = data.fillna('')

**Cleaning data**

*country and text cleaning*

In [16]:
def clean_data(x):
    return str.lower(x.replace(" ", ""))


cols = ['director', 'cast', 'country', 'listed_in', 'rating', 'type']
for col in cols:
    data[col] = data[col].apply(clean_data)
data['description_cleaned'] = data['description'].apply(lambda x: str.lower(x))

data['title_id'] = data['title'].apply(clean_data)

**FEATURE ENGINEERING**

*STRICT FILTERING*

In [17]:
def get_rating_group(rating):
    rating = str(rating).lower()
    if rating in ['tv-y', 'tv-g', 'g', 'tv-y7', 'tv-y7-fv', 'pg', 'tv-pg']:
        return 'family'
    elif rating in ['pg-13', 'tv-14']:
        return 'teens'
    elif rating in ['r', 'tv-ma', 'nc-17']:
        return 'adults'
    else:
        return 'unrated'

data['rating_group'] = data['rating'].apply(get_rating_group)

**DEFINE SOUP**

In [18]:
data['primary_country'] = data['country'].apply(lambda x: x.split(',')[0].strip().lower() if x else '')
data['title_clean'] = data['title'].apply(lambda x: str.lower(x).strip())
data['description_clean'] = data['description'].apply(lambda x: str.lower(x).strip())

In [19]:
# 1. Create the Soup (Director + Cast + Description)
# This combines all important info into one string for every movie
def create_soup(x):
    director = (str(x['director']).lower().replace(" ", "") + ' ') * 8
    cast = (str(x['cast']).lower().replace(" ", "") + ' ') * 6
    desc = x['description_clean']
    return director + cast + desc

data['soup'] = data.apply(create_soup, axis=1)

# 2. Create the Similarity Matrix
# We calculate the math here and save it to 'cosine_sim'
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['soup'])

# IMPORTANT: We name this 'cosine_sim' so your function can find it!
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

**Search FUNCTION**

In [20]:
def find_movie_title(user_input):
    user_input = str(user_input).lower().strip()

    if user_input in data['title_clean'].values:
        return data.loc[data['title_clean'] == user_input, 'title'].iloc[0]

    matches = difflib.get_close_matches(user_input, data['title'].tolist(), n=1, cutoff=0.5)
    if matches: return matches[0]

    for title in data['title']:
        if user_input in title.lower():
            return title
    return None

#**ENGINE**

In [24]:
def get_recommendations(user_input):
    title = find_movie_title(user_input)
    if title is None:
        print(f"Movie '{user_input}' not found.")
        return

    idx = data[data['title'] == title].index[0]
    target = data.iloc[idx]
    print(f"--- TESTING WEIGHTS FOR: '{title}' ---")
    print(f"Original Country: {target['primary_country']}")
    print(f"Original Director: {target['director']}")
    print("-" * 50)

    candidates = []
    # Use the SOUP similarity scores
    sim_scores = list(enumerate(cosine_sim[idx]))

    for i, score in sim_scores:
        if i == idx: continue

        cand = data.iloc[i]
        t_clean = target['title_clean']
        c_clean = cand['title_clean']
        is_franchise = (t_clean in c_clean) or (c_clean in t_clean)

        # Franchise Check (with safety for short titles)
        shortest = t_clean if len(t_clean) < len(c_clean) else c_clean
        if len(shortest) < 4:
            is_franchise = c_clean.startswith(t_clean) or t_clean.startswith(c_clean)


        # Strict Filters (Use rating_group, NOT rating)
        passes_filters = False
        if (cand['rating_group'] == target['rating_group']) and \
           (cand['primary_country'] == target['primary_country']) and \
           (cand['type'] == target['type']):
            passes_filters = True

        if is_franchise or passes_filters:
            final_score = score + (10.0 if is_franchise else 0.0)
            candidates.append((cand['title'], final_score, cand['rating'], cand['primary_country'], cand['type']))

    candidates = sorted(candidates, key=lambda x: x[1], reverse=True)
    top_10 = candidates[:10]

    for c_title, c_score in top_10:
        print(f"Match: {c_title}")
        print(f"   Score: {c_score:.3f}")
        print("-" * 50)

In [27]:
get_recommendations("JAWS")

[('Jaws 2', np.float64(10.332197286509835), 'PG', 'united states', 'Movie'),
 ('Jaws: The Revenge',
  np.float64(10.099804367281385),
  'PG-13',
  'united states',
  'Movie'),
 ('Jaws 3', np.float64(10.005223242914298), 'PG', 'united states', 'Movie'),
 ('The Adventures of Tintin',
  np.float64(0.11913021694536689),
  'PG',
  'united states',
  'Movie'),
 ('Indiana Jones and the Temple of Doom',
  np.float64(0.1082159365440854),
  'PG',
  'united states',
  'Movie'),
 ('Indiana Jones and the Raiders of the Lost Ark',
  np.float64(0.10679471206627185),
  'PG',
  'united states',
  'Movie'),
 ('The BFG', np.float64(0.09554983727880396), 'PG', 'united states', 'Movie'),
 ("God's Not Dead: A Light in Darkness",
  np.float64(0.006922230743261826),
  'PG',
  'united states',
  'Movie'),
 ('Nature: Raising the Dinosaur Giant',
  np.float64(0.006662513145160513),
  'TV-G',
  'united states',
  'Movie'),
 ("God's Not Dead",
  np.float64(0.006231145589781988),
  'PG',
  'united states',
  'Movie')]